#spdbContainer {
	margin: 0px 10px 0 0;
	padding: 10px 20px 0 0;
	width: 100%;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Helvetica, Arial, Verdana;
}

#spdbMainHead {
	width: 100%;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

#spdbMainHead h1 {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 0 0;
}

#spdbForm {
	width: 500px;
	background-color: #FFFFFF;
}

#spdbForm h4 {
	font-size: 14px;
	margin: 0 0 6px 0;
	padding: 0;
}

.spdbMainPanel {
	float: left;
	height: auto;
	margin: 2px 10px;
	padding: 6px 12px;
	border: 1px solid #555555;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

table {
	font-size: 15px;
	font-weight: normal;
}

.spdbSuccess {
	color: green;
}

.spdbFailure {
	color: red;
}
